   <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                {% block menu_horizontal %}
                   {% include "AppVitrineBundle:Menus:Menu_horizontal.html.twig" %}
                {% endblock menu_horizontal %}
            </div>
        </div>
    </header>